html,
body {
  height: 100%;

}


.navbar-icon {
  width: 50px;
  height: 50px;
}

.backgroundPictures {
  background-image: url('../pictures/background.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

/* .container-mid {
  display: grid;
  justify-content: center;
  align-items: center;
} */

.container-full {
  position: relative;
  /* min-height: 100vh; */
  min-height: 100%;
  /* height: 100%; */

}


h1 {
  font-size: 8vw;
  color: #ffffff;
  /* -webkit-text-stroke: 1px #1a1a1add; */
  text-shadow: 0 0 5px #000000dd;
}

h2 {
  font-size: 5vw;
  color: #000000;
  /* -webkit-text-stroke: 1px #1a1a1add; */
  /* text-shadow: 0 0 5px #000000dd; */
}

.welcome-side {
  font-size: 2vw;
  color: #ffffff;
  text-shadow: 0 0 5px #000000dd;
  margin: 1rem;
}


#profiledivider {
  width: 3px;
}

#profiledetails {
  margin-top: 100px;
}

.expandform {
  display: none;
}


.formStyle input {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.06);
}

.container-background {
  background-color: #e7e8ed9c;
  padding: 3%;
}

.text-margin {
  font-size: 0.8vw;
}

/* FARMER/S | PRODUCT/S LAYOUT */
.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-layout {
  border-radius: 1rem 1rem 0rem 0rem;

}

.img-layout-detail {
  border-radius: 0rem 1rem 1rem 0rem;
  min-width: 1rem;
  min-height: 1rem;
  max-width: 100%;
  height: auto;
}

.container-center-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  /* margin-top: -8rem; */


}

/* FOOOTER */

footer {

  background: #e7e8ed;
  color: #898b96;
  margin-top: auto;

}

.img-footer {
  width: 200px;
  height: 200px;
}

.footer-big {
  padding: 2% 0 1% 0;
  margin-bottom: 1%;
}

.mini-footer {
  background: #898b96;
  color: aliceblue;
  text-align: center;
  padding: 0.5% 0;
}


/*Warenkorb*/
hr {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  width: 60%;
}

.card {
  margin: auto;

  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
  margin-top: 1.25rem;
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem
}

.summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

.items-border {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}

.back-to-shop {
  margin-top: 4.5rem;
}

.checkout {
  position: absolute;
  bottom: 2rem;
}

.img-warenkorb {
  width: 8rem
}

/* WELCOME BLADE */
.welcome-blade-style {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}