html,
body {
  height: 100%;

}


.navbar-icon {
  width: 50px;
  height: 50px;
}

.backgroundPictures {
  background-image: url('../pictures/background.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

/* .container-mid {
  display: grid;
  justify-content: center;
  align-items: center;
} */

.container-full {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center
  
}


h1 {
  font-size: 8vw;
  color: #ffffff;
  /* -webkit-text-stroke: 1px #1a1a1add; */
  text-shadow: 0 0 5px #000000dd;
}

h2 {
  font-size: 5vw;
  color: #000000;
  /* -webkit-text-stroke: 1px #1a1a1add; */
  /* text-shadow: 0 0 5px #000000dd; */
}

.welcome-side {
  font-size: 2vw;
  color: #ffffff;
  text-shadow: 0 0 5px #000000dd;
  margin: 1rem;
}


#profiledivider {
  width: 3px;
}

#profiledetails {
  margin-top: 100px;
}

.expandform {
  display: none;
}


.formStyle input {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.06);
}

.formStyle select {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.06);
}

.container-background {
  background-color: #e7e8ed9c;
  padding: 3%;
}

.text-margin {
  font-size: 0.8vw;
}

/* FARMER/S | PRODUCT/S LAYOUT */
.container-titel-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-titel-flex-end {
  align-self: flex-end;
}


.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-layout {
  border-radius: 1rem 1rem 0rem 0rem;
  height: 15rem;
  width: 100%;
  object-fit: cover;  

}

.img-layout-detail {
  border-radius: 0rem 1rem 1rem 0rem;
  width: 40rem;
  height: 30rem;

  object-fit: cover;
}

.place-center-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  /* min-height: 100%;
  min-width: 100%; */
}


/* FOOOTER */

footer {

  background: #e7e8ed;
  color: #898b96;
  margin-top: auto;

}

.img-footer {
  width: 200px;
  height: 200px;
}

.footer-big {
  padding: 2% 0 1% 0;
  margin-bottom: 1%;
}

.mini-footer {
  background: #898b96;
  color: aliceblue;
  text-align: center;
  padding: 0.5% 0;
}


/*Warenkorb*/
hr {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  width: 100%;
}

.card {
  margin: auto;

  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
  margin-top: 1.25rem;
}

.cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-radius: 1rem 0rem 0rem 1rem;
}

.summary {
  background-color: #ddd;
  border-radius: 0rem 1rem 1rem 0rem;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

.items-border {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}

.back-to-shop {
  margin-top: 4.5rem;
}

.img-warenkorb {
  width: 8rem
}

/* WELCOME BLADE */
.welcome-blade-style {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.container-flex-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.nav-link {
  color: #000000;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {

  background-color: #198754;
}

@media screen and (max-width: 1200px) {
  .img-layout-detail {
    border-radius: 0rem 1rem 1rem 0rem;
    width: 113%;

  }
}

@media screen and (max-width: 991px) {
  .img-layout-detail {
    border-radius: 0rem 0rem 1rem 1rem;
    width: 100%;
    height: 30rem;
  }

}

@media screen and (max-width: 767px) {
  .cart {
    border-radius: 1rem 1rem 0rem 0rem;
  }

  .summary {
    border-radius: 0rem 0rem 1rem 1rem;
  }

}

@media screen and (max-width: 442px) {

  .img-layout-detail {
    border-radius: 0rem 0rem 1rem 1rem;
    width: 100%;
    height: 20rem;
  }

  .card-responsive {
    display: flex;
    justify-content: center;
    border: 1rem;
  }

  .card-respnsive-center-button {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #dc3545;
    border-radius: 1rem 1rem 1rem 1rem;
  }

  .container-flex-settings {
    display: flex;
    flex-direction: column;
  }

  .nav-responsive-pills {
    margin-bottom: 1.25rem;
    width: 100%;
    border-bottom:solid 1px gray;

  }


}